<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rentwala</title>
</head>
<body>
    <h3>all listiings</h3>

    <ul>

        <% for(let listing of allListings){ %>
            <li>
                <%= listing.title %>
            </li>
        <% } %>
        
        </ul>

</body>
</html>

